<%= stylesheet_link_tag "devise", media: "all" %>

<div class="signup-header">Sign up for a free account with Lifestream.</div>

<div class="signup-container">
  <div class="signup-options">
    <%= render "devise/shared/links" %>
  </div>

  <div class="signup-form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="devise-errors">
        <%= devise_error_messages! %>
      </div>

      <div><%= f.label :username, class: "signup-label" %>
      <%= f.text_field :username, class: "signup-field" %></div>

      <div><%= f.label :email, class: "signup-label" %>
      <%= f.email_field :email, :autofocus => true, class: "signup-field" %></div>

      <div><%= f.label :password, class: "signup-label" %>
      <%= f.password_field :password, class: "signup-field" %></div>

      <div><%= f.label :password_confirmation, class: "signup-label" %>
      <%= f.password_field :password_confirmation, class: "signup-field" %></div>

      <div class="signup-button-container"><%= f.submit "Sign up", class: "signup-button" %></div>
    <% end %>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43322468-1', 'garethtan.com');
  ga('send', 'pageview');

</script>