<ul <%= "id=comment-tree-#{post_id}".to_s if first %>>

  <% children.each do |child| %>
    <li id="node_<%= child.id %>">
      <div class="comment-text" id="comment-<%= child.id.to_s %>"><%= child.text %></div>
      <div class="comment-bottom clearfix">
        <a class="comment-reply">Reply</a>
        <div class="comment-time"><%= child.created_at.strftime("%B %e at %l:%M%p") %> </div>
        <div class="comment-user">by <%= child.user_id %></div>
      </div>
      <%= render partial: "comments/comment", locals: {hash: hash, children: hash[child.id], first: false, current: child.id, post_id: post_id} %>
    </li>
  <% end %>
<% unless first %>
  <div class="comment-form <%= "hidden-comment-form" %>">
    <form action="<%= comments_url %>" class="new-comment-form" method="post" data-remote="true">
      <div class="comment-field">
        <input type="text" class="comment-text-field" name="comment[text]" placeholder="Write a note...">
        <input type="hidden" name="comment[post_id]" value="<%= post_id %>">
        <input type="hidden" name="comment[parent_id]" value="<%= current %>">
      </div>
    </form>
  </div>
<% end %>
</ul>