<%= stylesheet_link_tag    "streams_index", :media => "all" %>
<%= stylesheet_link_tag    "show_post", :media => "all" %>

<%= render "topbar_streams" %>
<%= render "layouts/leftnavbar" %>

<section class="rightbar">

  <div class="streams-container clearfix">
    <div class="streams-text-container clearfix"> 
      <div class="streams-text-header">
        streams 
      </div>
    </div>
    <div class="streams">
      <% @streams.each do |stream| %>
        <%= render stream %>
      <% end %>
    </div>

    </div>
  </div>
</section>

<script type="application/javascript">

$(".new-stream-link").on("click", function(event){
  $(".new-stream-form").toggleClass("active")
})

$(".create-stream-button").on("click", function(event){
  event.preventDefault();
  var formData = $(this.form).serialize()
  $.ajax({
    url: "<%= streams_url %>",
    type: "POST",
    data: formData
  }).done(function(response){
    $(".new-stream").val("");
    //Do a fadein here
  })
})

$(".streams").on("click", ".show-stream", function(event){
  event.preventDefault();
})

$(".streams").on("click", ".make-default", function(event){
  event.preventDefault();
  var id = $(this).attr("id")
  var defaultLetter = '<div class="stream-default-letter">D</div>'
  $.post("streams/" + id + "/default", {}).
        done(function(data){
          $(".stream.default-stream").removeClass("default-stream");
          $(".stream-default-letter").remove();
          $("#stream-" + id).addClass("default-stream");
          $("#stream-" + id).prepend(defaultLetter);
          $(".default-home").attr("href", "/streams/" + id + "/posts")
        })
})

</script>