<%= stylesheet_link_tag    "streams_index", :media => "all" %>
<%= stylesheet_link_tag    "show_post", :media => "all" %>
<%= stylesheet_link_tag    "animate", media: "all" %>

<%= render "topbar_streams" %>
<%= render "layouts/leftnavbar" %>

<section class="rightbar">
  <div class="streams-container clearfix">
    <div class="streams-text-container clearfix"> 
      <div class="streams-text-header">
        streams 
      </div>
    </div>
    <div class="streams">
      <% @streams.each do |stream| %>
        <%= render stream %>
      <% end %>
    </div>

    </div>
  </div>
</section>

<script type="application/javascript">

$(".new-stream-link").on("click", function(event){
  $(".new-stream-form").toggleClass("active");
})

$(".create-stream-form").on("ajax:success", function(event, data){
  $(".new-stream").val("");
  $(".streams").append(data);
  $(".stream:last-child").addClass("animated fadeInRight");
})

$(".streams").on("click", ".show-stream", function(event){
  event.preventDefault();
})

$(".streams").on("click", ".make-default", function(event){
  event.preventDefault();
  var id = $(this).attr("id")
  var defaultLetter = '<div class="stream-default-letter">D</div>'
  $.post("streams/" + id + "/default", {}).
        done(function(data){
          console.log("sigh")
          var old = data["old"]
          $(".stream.default-stream").removeClass("default-stream");
          $(".stream-default-letter").remove();
          $("#stream-" + id).addClass("default-stream");
          $("#stream-" + id).prepend(defaultLetter);
          $(".default-home").attr("href", "/streams/" + id + "/posts")
          $("#stream-" + old + " .stream-default").removeClass("stream-default-hidden")
          $("#stream-" + id + " .stream-default").addClass("stream-default-hidden")
        })
})

</script>

