<%= stylesheet_link_tag    "streams_index", :media => "all" %>
<%= stylesheet_link_tag    "show_post", :media => "all" %>

<%= render "layouts/leftnavbar" %>

<section class="rightbar">


  <div class="streams-container clearfix">
    <div class="streams-text-container clearfix"> 
      <div class="streams-text-header">
        streams 
      </div>
      <div class="streams-text">
            <div class="new-stream-link">Create a new stream.</div>
    <div class="new-stream-form">
      <form>
        <label for="new-stream-name">New Stream Name</label>
        <input id="new-stream-name" type="text" name="stream[name]">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="create-stream">Create Stream</button>
      </form>
    </div>
      </div>
    </div>
    <div class="streams">
      <% @streams.each do |stream| %>
        <li><%= stream.name %>
        <a href="<%= stream_posts_url(stream.id) %>">View Stream</a>
        <!-- Make this an ajax request, and do a respond_to json -->
          <% if stream.id != current_user.default_stream_id %>
            <a href="<%= default_stream_url(stream.id) %>" data-method="post">Make Default</a>
          <% else %>
            This is your default stream.
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="new-stream">


  </div>

<div class="streams-list">
  <ul>

  </ul>

</section>

<script type="application/javascript">

$(".new-stream-link").on("click", function(event){
  $(".new-stream-form").toggleClass("active")
})

$(".create-stream").on("click", function(event){
  event.preventDefault();
  var formData = $(this.form).serialize()
  $.ajax({
    url: "<%= streams_url %>",
    type: "POST",
    data: formData
  }).done(function(response){
    $(".new-stream-name").val("");
    $(".new-stream-form").removeClass("active");
    // Do a new StreamSquare fade in effect!
  })
})

</script>