<%= stylesheet_link_tag    "streams_index", :media => "all" %>
<%= stylesheet_link_tag    "show_post", :media => "all" %>

<%= render "layouts/leftnavbar" %>

<section class="rightbar">


  <div class="streams-container clearfix">
    <div class="streams-text-container clearfix"> 
      <div class="streams-text-header">
        streams 
      </div>
      <div class="streams-text">
    <div class="new-stream-form active">
      <form>
        <label class="input-label" for="new-stream-name">New Stream Name</label>
        <input class="input-field inverse new-stream" type="text" name="stream[name]">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="new-stream-button">
          <button class="blue-button create-stream-button">Create Stream</button>
        </div>
      </form>
    </div>
      </div>
    </div>
    <div class="streams">

    <% @streams.each do |stream| %>
        <div class="stream  <%= "default-stream" if stream.id == current_user.default_stream_id %>" id="stream-<%= stream.id %>">
          <% if stream.id == current_user.default_stream_id %>
            <div class="stream-default-letter">
              D
            </div>
          <% end %>
          <div class="stream-name">
            <%= stream.name %>
          </div>
          <div class="stream-hide-container">
            <a href="<%= stream_posts_url(stream.id) %>">
              <button class="view-stream">
                  <div class="stream-half">
                    View Stream
                  </div>
              </button>
            </a>
          </div>
          <div class="stream-hide-container">
            <button class="make-default" id="<%= stream.id %>">
              <div class="stream-half">
                Make Default
              </div>
            </button>
          </div>
        </div>
      <% end %>
  
    </div>

    </div>
  </div>
</section>

<script type="application/javascript">

$(".new-stream-link").on("click", function(event){
  $(".new-stream-form").toggleClass("active")
})

$(".create-stream-button").on("click", function(event){
  event.preventDefault();
  var formData = $(this.form).serialize()
  $.ajax({
    url: "<%= streams_url %>",
    type: "POST",
    data: formData
  }).done(function(response){
    $(".new-stream").val("");
    window.reload();
    // Do a new StreamSquare fade in effect!
  })
})

$(".streams").on("click", ".show-stream", function(event){
  event.preventDefault();
})

$(".streams").on("click", ".make-default", function(event){
  event.preventDefault();
  var id = $(this).attr("id")
  var defaultLetter = '<div class="stream-default-letter">D</div>'
  $.post("streams/" + id + "/default", {}).
        done(function(data){
          $(".stream.default-stream").removeClass("default-stream");
          $(".stream-default-letter").remove();
          $("#stream-" + id).addClass("default-stream");
          $("#stream-" + id).prepend(defaultLetter);
        })
})

</script>