<%= stylesheet_link_tag    "streams_index", :media => "all" %>
<%= stylesheet_link_tag    "show_post", :media => "all" %>

<%= render "layouts/leftnavbar" %>

<section class="rightbar">


  <div class="streams-container clearfix">
    <div class="streams-text-container clearfix"> 
      <div class="streams-text-header">
        streams 
      </div>
      <div class="streams-text">
            <div class="new-stream-link">Create a new stream.</div>
    <div class="new-stream-form">
      <form>
        <label for="new-stream-name">New Stream Name</label>
        <input id="new-stream-name" type="text" name="stream[name]">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="create-stream">Create Stream</button>
      </form>
    </div>
      </div>
    </div>
    <div class="streams">
    <% @streams.each do |stream| %>
        <div class="stream  <%= "default-stream" if stream.id == current_user.default_stream_id %>">
          <div class="stream-name">
          <%= stream.name %>
          </div>
          <div class="stream-hide-container">
            <button class="view-stream">
              <div class="stream-half">
                View Stream
              </div>
            </button>
          </div>
          <div class="stream-hide-container">
            <button class="make-default">
              <div class="stream-half">
                Make Default
              </div>
            </button>
          </div>
        </div>
      <% end %>
    </div>

    </div>
  </div>
</section>

<script type="application/javascript">

$(".new-stream-link").on("click", function(event){
  $(".new-stream-form").toggleClass("active")
})

$(".create-stream").on("click", function(event){
  event.preventDefault();
  var formData = $(this.form).serialize()
  $.ajax({
    url: "<%= streams_url %>",
    type: "POST",
    data: formData
  }).done(function(response){
    $(".new-stream-name").val("");
    $(".new-stream-form").removeClass("active");
    // Do a new StreamSquare fade in effect!
  })
})

</script>