<% content_for :head do %>
  <%= stylesheet_link_tag    "friendships_index", :media => "all" %>
<% end %>

<%= render "topbar_friendships" %>
<%= render "layouts/leftnavbar" %>

<section class="rightbar">
  <div class="friendships-container clearfix">
    <div class="friendships-text-container clearfix"> 
      <div class="friendships-text-header">
        Friends 
      </div>
    </div>
  <div class="friendlists-container">
    <div class="friendlist-requested">
      <div class="friendlist-header">Pending Requests</div>
      <ul>
        <% @pending_requests.each do |request| %>
          <%= render partial: "friend", locals: {friend: request, status: "requested"} %>
        <% end %>
      </ul>
    </div>

    <div class="friendlist-pending">
      <div class="friendlist-header">Pending Confirmations</div>
      <ul>
        <% @pending_friends.each do |request| %>
          <%= render partial: "friend", locals: {friend: request, status: "pending"} %>
        <% end %>
      </ul>
    </div>

    <div class="friendlist-confirmed">
      <div class="friendlist-header">Friends!</div>
      <ul>
        <% @friends.each do |friend| %>
          <%= render partial: "friend", locals: {friend: friend, status: "confirmed"} %>
        <% end %>
      </ul>
    </div>

</section>

<script type="application/javascript">

$(".new-friendship-link").on("click", function(event){
  $(".new-friendship-form").toggleClass("active");
})

$(".create-friendship-form").on("ajax:success", function(event, data){
  $(".friendship-input-field").val("");
  var type = data.match(/li class = "(.*)"/)[1]
  $(".friendlist-" + type).append(data);
})

$(".pending").on("click", function(event){
  var email = $(this).data("email");
  $.post("<%= friendships_url %>", {friendship: {email: email}})
  .done(function(friendship){
    $(".pending[data-email='" + email + "']").remove();
    $(".friendlist-confirmed ul").append(friendship);
  })
})

</script>