<%= stylesheet_link_tag    "devise", :media => "all" %>

<div class="signin-header">Sign in with your username or email.</div>
<div class="signin-container clearfix">

  <div class="signin-options">
    <%= render "devise/shared/links" %>
  </div>

  <div class="signin-form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :login, class: "signin-label" %>
      <%= f.text_field :login, :autofocus => true, class: "signin-field" %></div>

      <div><%= f.label :password, class: "signin-label" %>
      <%= f.password_field :password, class: "signin-field" %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, class: "signin-remember" %> <%= f.label :remember_me, class: "signin-remember-label" %></div>
      <% end -%>

      <div class="signin-button-container"><%= f.submit "Sign in", class: "signin-button" %></div>
    <% end %>
  </div>



</div>


