<% word_id = "#{post.id.to_words.gsub(/ /, "")}" %>

<% markers = {markers: { data: post.to_gmaps4rails }} %>
<% options = {map_options: {auto_adjust: false, center_on_user: true, 
             zoom: 15, id: word_id, :class => "google-map",
             draggable: false }} %>
<% marker_options = markers.merge(options) %>
<% not_last_map = {last_map: false} %>
<% no_scripts = {scripts: :none} %>

<% options_hash = marker_options.merge(no_scripts) if lastmap %>
<% options_hash = marker_options.merge(not_last_map) if firstmap %>
<% options_hash = marker_options if onlymap %>
<% unless lastmap || firstmap || onlymap %>
  <% options_hash = marker_options.merge(not_last_map).merge(no_scripts) %>
<% end %>

 <% if post.content_type == "markdown" %>
  <script type="application/json" id="markdown-contents-<%= post.id %>">
    <%= post.body.gsub(/\r/, "").to_json.html_safe %>
  </script>
<% end %>

<script type="application/javascript">
$(function(){
  $(".accordion").accordion({
    collapsible: true,
    icons: false,
    active: false
  })

  $(".ui-accordion-header").on("click", function(event){
    var mapid = event["target"]["nextElementSibling"]["children"][0].id
    var map = Gmaps[mapid].map
    var latitude = event["target"]["parentElement"]["dataset"]["lat"]
    var longitude = event["target"]["parentElement"]["dataset"]["long"]
    var latlng = new google.maps.LatLng(latitude, longitude);
    var bounds = map.getBounds()
    if (bounds.getNorthEast().equals(bounds.getSouthWest())){
      google.maps.event.trigger(map, "resize");
      map.setCenter(latlng);
    }

  })
});
</script>

<div class="posts-container clearfix">

  <div class="posts-header clearfix">

    <div class="posts-text-container clearfix"> 
      <div class="post-date">
        <%= post.created_at.strftime("%d") %>
      </div>
    </div>
    <div class="post-title-container">
      <div class="post-title">
        <%= post.title %>
      </div>
    </div>
  </div>

  <div class="post-bottom-container clearfix">

    <div class="posts-text-container clearfix">
      <div class="post-under post-border">
        <%= post.created_at.strftime("%b") %>
      </div>
      <div class="post-under">
        <%= post.created_at.strftime("%Y") %>
      </div>
    </div>

    <div class="post-body-container clearfix">
      <div class="post-body-metadata">
        <%= "#{post.created_at.strftime("%A, %l:%M%P")}" %>
        at <%= post.location %>
      </div>
      <div class="post-body" id="body-<%= post.id %>">
        <% if post.content_type == "plaintext" %>
          <%= post.body %>
        <% end %>
      </div>
      <% if post.content_type == "markdown" %>
        <script>
          var raw = $("#markdown-contents-<%= post.id %>").html().match(/"(.+)"/)[1]
          var unescaped_raw = raw.replace(/\\n/g, "\n")
          $("#body-<%= post.id %>").html(markdown.toHTML(unescaped_raw))
        </script>
      <% end %>

      <% unless post.post_photos.empty? %>
        <div class="post-photos clearfix">
        <% post.post_photos.each do |photo| %>
          <div class="post-photo">
            <%= image_tag photo.image.url(:thumbnail) %>
          </div>
        <% end %>
        </div>
      <% end %>
      
      <div class="post-map accordion" data-lat="<%= post.latitude %>" data-long="<%= post.longitude %>">
        <h1> Location </h1>
        <%= gmaps(options_hash) %>
      </div>

      <div class="post-categories clearfix">
        <div class="category-label">
          Categories
        </div>
        <% post.categories.pluck(:name).each do |category_name| %>
        <div class="category">
          <%= category_name %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script type="application/javascript">
$(document).ready(function() {
  $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>