<%= stylesheet_link_tag    "md_style", :media => "all" %>
<%= stylesheet_link_tag    "md_github", :media => "all" %>
<%= stylesheet_link_tag    "new_post", :media => "all" %>
<%= javascript_include_tag "jquery-1.9.1.min" %>
<%= javascript_include_tag "jquery.autosize-min" %>
<%= javascript_include_tag "markdown" %>
<%= javascript_include_tag "newpost_main" %>
<%= javascript_include_tag "lsparser" %>

<% content_for :drop_zone do %>
<div class="top-drop-border drop-border"></div>
<div class="right-drop-border drop-border"></div>
<div class="bottom-drop-border drop-border"></div>
<div class="left-drop-border drop-border"></div>
<div class="drop-message drop-border">
  Drop a file in this window to add it to your post.
</div>
<% end %>

<script type="application/json" id="categories">
  <%= @categories.to_json.html_safe %>
</script>

<section class="newpost">

<span class="new">new</span> <span class="postdot">post.</span>
<form accept-charset="UTF-8" action="<%= stream_posts_url(@streamid) %>" class="new_post" enctype="multipart/form-data" id="new_post" method="post">

  <div class="new-post-title">
    <label for="edit-title" class="input-label">Title</label>
    <input type="text" id="edit-title" class="input-field" name="post[title]">
  </div>
<div class="input-header clearfix">
  <div class="input-options">
    <input type="radio" name="post[content_type]" id="toggle-plaintext" value="plaintext" checked>
    <label for="toggle-plaintext">Plain Text</label>
    <input type="radio" name="post[content_type]" id="toggle-markdown" value="markdown">
    <label for="toggle-markdown">Markdown</label>
    <input type="radio" name="post[content_type]" id="toggle-code" value="markdown">
    <label for="toggle-code">Code</label>

    <button class="clear-button">Clear</button>
  </div>

  <div class="live-preview-header-wrap clearfix">
    <div class="live-preview-header live-preview-element">
      Markdown Live Preview
    </div>
  </div>
</div>

<div class="edit-area clearfix">

  <div class="edit-field edit-markdown">
    <div id="container clearfix">

        <div class="markdown-content">
          <textarea id="markdown-edit" class="active new-post-body input-textarea" name="post[body]" placeholder="Write your post here."></textarea>
          <div id="code-edit">
          </div>
        </div>

        <div class="live-preview live-preview-element">
          <div id="output" class="markdown-body">
          </div>
        </div>
    </div>
  </div>

</div>

<div class="input-label">Categories</div>
<input type="text" class="edit-categories" name="categories">

<label class="input-label new-post-location">Location</label>
<div class="new-post-location">

<input type="hidden" class="latitude" name="post[latitude]">
<input type="hidden" class="longitude" name="post[longitude]">
<input type="text" class="location input-field" name="post[location]">
  <div class="new-post-map">
  <%= gmaps("map_options" => { "detect_location" => true, 
    "auto_zoom" => false, "center_on_user" => true, 
    "zoom" => 15, :class => "google-map", "libraries" => ["places"]}) %>
  </div> 
</div>

<!-- <div class="input-label">Photos!</div>
<div class="new-post-photos">
  <button class="add-photo">Add another photo</button>
  <div class="file-chooser"><input class="file-input" name="post[post_photos_attributes][0][image]" type="file"></div> -->

</div>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" class="blue-button button" value="Make new post!">
</form>

<div class="new-post-photos">
<%= render "new_post_photos" %>
</div>


<script>
    var editor = ace.edit("code-edit");
    editor.setTheme("ace/theme/tomorrow");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setValue("");
</script>

</section>

<script type="application/javascript">
var autocomplete;
var categories = JSON.parse($("#categories").html())
var postphotos = 0;

$(".clear-button").on("click", function(event){
  event.preventDefault();
  $('.new-post-body').val("");
  $('#output').html(markdown.toHTML($('#markdown-edit').val()));
})

$(".add-photo").on("click", function(event){
  event.preventDefault();
  postphotos += 1;
  $(".new-post-photos").append(
      '<div class="file-chooser"><input class="file-input" name="post[post_photos_attributes][' + postphotos + '][image]" type="file"></div>'
  )
})

$("#toggle-plaintext").on("click", function(event){
  $(".live-preview-element").removeClass("active");
  $("#code-edit").removeClass("active")
  $("#markdown-edit").addClass("active")
  $(".clear-button").animate({marginLeft: 350}, 500 );
  $("#markdown-edit").animate({width: 650}, 500 );
  $("#markdown-edit").focus()
});

$("#toggle-markdown").on("click", function(event){
  $("#code-edit").removeClass("active")
  $("#markdown-edit").addClass("active")
  $(".clear-button").animate({marginLeft: 100}, 500 );
  $("#markdown-edit").animate({width: 400}, 500, function(){
    $(".live-preview-element").addClass("active");
  });
  $("#markdown-edit").focus()
});

$("#toggle-code").on("click", function(event){
  $("#markdown-edit").animate({width: 400}, 500, function(){
    $("#code-edit").addClass("active");
    editor.setValue(editor.getValue());
    editor.navigateFileEnd();
    editor.focus();
    $("#markdown-edit").removeClass("active");
    $(".live-preview-element").addClass("active");
  });
  $(".edit-plaintext").removeClass("active");
  $(".clear-button").animate({marginLeft: 100}, 500 );
});

$(".edit-categories").select2({tags: categories});

//Mirroring the code editor and markdown-edit text field.
$("#markdown-edit").keyup(function(){
  editor.setValue(this.value);
})

editor.getSession().on("change", function(){
  $("#markdown-edit").val(editor.getValue());
  $("#markdown-edit").trigger("change")
})

//Geocoding and Location
var geocode = function(address){
  $.get("http://maps.googleapis.com/maps/api/geocode/json",
    {address: address, sensor: "true"})
  .done(function(data){
    var lat = data["results"][0]["geometry"]["location"]["lat"]
    var lng = data["results"][0]["geometry"]["location"]["lng"]
    
    Gmaps.map.replaceMarkers([{"lat": lat, "lng": lng}]);
    autocomplete.setBounds(Gmaps.map.serviceObject.getBounds());
  })
}

$(".location.input-field").keypress(function(event){
  if(event.which === 13){
    geocode($(this).val())
  }
})

$(document).ready(function(){

  var reverseGeocode = function(latitude, longitude){
    $.get("http://maps.googleapis.com/maps/api/geocode/json",
      {latlng: latitude + "," + longitude, sensor: "true"})
    .done(function(data){
      $(".location").attr("value", data.results[0].formatted_address)
    })
  }

  Gmaps.map.setGeolocation = function(lat, lng){
    $(".latitude").attr("value", lat);
    $(".longitude").attr("value", lng);
    Gmaps.map.addMarkers([{"lat": lat, "lng": lng}]);
  }

  var setPosition = function(position){
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    // Fill in forms for submission.
    $(".latitude").attr("value", lat);
    $(".longitude").attr("value", lng);

    reverseGeocode(lat, lng);
    Gmaps.map.setGeolocation(lat, lng)
    autocomplete.setBounds(Gmaps.map.serviceObject.getBounds());
  };

  if (navigator.geolocation){
    navigator.geolocation.getCurrentPosition(setPosition);
  }
  else{
    $(".new-post-location").append("Cannot get location.")
  }

  var input = document.getElementsByClassName("location")[0];
  var options = { radius: 5000 }
  autocomplete = new google.maps.places.Autocomplete(input, options)

});
</script>

<% content_for :scripts do %>
  <script>
    google.maps.visualRefresh = true;
  </script>
<% end %>