<%= stylesheet_link_tag    "md_style", :media => "all" %>
<%= stylesheet_link_tag    "md_github", :media => "all" %>
<%= stylesheet_link_tag    "new_post", :media => "all" %>
<%= javascript_include_tag "jquery-1.9.1.min" %>
<%= javascript_include_tag "jquery.autosize-min" %>
<%= javascript_include_tag "markdown" %>
<%= javascript_include_tag "newpost_main" %>

<script type="application/json" id="categories">
  <%= @categories.to_json.html_safe %>
</script>

<section class="newpost">

<span class="new">new</span> <span class="postdot">post.</span>
<form accept-charset="UTF-8" action="<%= stream_posts_url(@streamid) %>" class="new_post" enctype="multipart/form-data" id="new_post" method="post">

  <div class="new-post-title">
    <label for="edit-title" class="input-label">Title</label>
    <input type="text" id="edit-title" class="input-field" name="post[title]">
  </div>
<div class="input-header clearfix">
  <div class="input-options">
    <input type="radio" name="post[content_type]" id="toggle-plaintext" value="plaintext" checked>
    <label for="toggle-plaintext">Plain Text</label>
    <input type="radio" name="post[content_type]" id="toggle-markdown" value="markdown">
    <label for="toggle-markdown">Markdown</label>
    <input type="radio" name="post[content_type]" id="toggle-code" value="code">
    <label for="toggle-code">Code</label>

    <button class="clear-button">Clear</button>
  </div>

  <div class="live-preview-header-wrap clearfix">
    <div class="live-preview-header live-preview-element">
      Markdown Live Preview
    </div>
  </div>
</div>

<div class="edit-area clearfix">

  <div class="edit-field edit-markdown">
    <div id="container clearfix">
        <div class="markdown-content">
          <textarea id="markdown-edit" class="new-post-body input-textarea" name="post[body]" placeholder="Write your post here."></textarea>
        </div>
        <div class="live-preview live-preview-element">

          <div id="output" class="markdown-body">
          </div>
        </div>
    </div>
  </div>

</div>

<div class="input-label">Categories</div>
<input type="text" class="edit-categories" name="categories">

<div class="new-post-location">Location

<input type="hidden" class="latitude" name="post[latitude]">
<input type="hidden" class="longitude" name="post[longitude]">
<input type="hidden" class="location" name="post[location]">

</div>

<!-- This will be a dropdown. How? -->
<div class="new-post-map">

</div> 

<div class="input-label">Photos!</div>
<div class="new-post-photos">  
  <button class="add-photo">Add another photo</button>
  <div class="file-chooser"><input class="file-input" name="post[post_photos_attributes][0][image]" type="file"></div>

</div>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" class="blue-button" value="Make new post!">
</form>
</section>

<script type="application/javascript">

var categories = JSON.parse($("#categories").html())
var postphotos = 0;

$(".clear-button").on("click", function(event){
  event.preventDefault();
  $('.new-post-body').val("");
  $('#output').html(markdown.toHTML($('#markdown-edit').val()));
})

$(".add-photo").on("click", function(event){
  event.preventDefault();
  postphotos += 1;
  $(".new-post-photos").append(
      '<div class="file-chooser"><input class="file-input" name="post[post_photos_attributes][' + postphotos + '][image]" type="file"></div>'
  )
})

$("#toggle-plaintext").on("click", function(event){
  $(".live-preview-element").removeClass("active");
  $(".clear-button").animate({marginLeft: 350}, 500 );
  $("#markdown-edit").animate({width: 650}, 500 );
  $("#markdown-edit").focus()
});

$("#toggle-markdown").on("click", function(event){
  $(".clear-button").animate({marginLeft: 100}, 500 );
  $("#markdown-edit").animate({width: 400}, 500, function(){
    $(".live-preview-element").addClass("active");
  });
  $("#markdown-edit").focus()
});

$("#toggle-code").on("click", function(event){
  $(".edit-plaintext").removeClass("active")
  $(".edit-markdown").removeClass("active")
  $(".edit-code").addClass("active")
});

$(".edit-categories").select2({tags: categories})

$(document).ready(function(){

  var reverseGeocode = function(latitude, longitude){
    $.get("http://maps.googleapis.com/maps/api/geocode/json?latlng=" + latitude + "," + longitude + "&sensor=true")
    .done(function(data){
      $(".location").attr("value", data.results[0].formatted_address)
      $(".new-post-location").append(data.results[0].formatted_address)
    })
  }

  var setPosition = function(position){
    $(".latitude").attr("value", position.coords.latitude);
    $(".longitude").attr("value", position.coords.longitude);
    $(".new-post-location").append(position.coords.latitude);
    $(".new-post-location").append(position.coords.longitude);
    reverseGeocode(position.coords.latitude, position.coords.longitude)
  }

  if (navigator.geolocation){
    navigator.geolocation.getCurrentPosition(setPosition);
  }
  else{
    $(".new-post-location").append("Cannot get location.")
  }
});


</script>