<%= stylesheet_link_tag    "md_style", :media => "all" %>
<%= stylesheet_link_tag    "md_github", :media => "all" %>
<%= stylesheet_link_tag    "new_post", :media => "all" %>
<%= javascript_include_tag "jquery.autosize-min" %>
<%= javascript_include_tag "markdown" %>
<%= javascript_include_tag "newpost_main" %>
<%= javascript_include_tag "lsparser" %>

<% content_for :drop_zone do %>
<div class="top-drop-border drop-border"></div>
<div class="right-drop-border drop-border"></div>
<div class="bottom-drop-border drop-border"></div>
<div class="left-drop-border drop-border"></div>
<div class="drop-message drop-border">
  Drop a file in this window to add it to your post!
</div>
<% end %>

<script type="application/json" id="categories">
  <%= @categories.to_json.html_safe %>
</script>

<section class="newpost">
<div class="new-post-container clearfix">
  <div class="new-post-text-container clearfix">
    <div class="new-post-text-header">
      New Post
    </div>
  </div>

  <div class="new-post-forms-container clearfix">
  <form accept-charset="UTF-8" action="<%= stream_posts_url(@streamid) %>" class="new_post" enctype="multipart/form-data" id="new_post" method="post">

    <input type="hidden" name="post[public_type]" value="private">

    <div class="new-post-title">
      <label for="edit-title" class="input-label">Title</label>
      <input type="text" id="edit-title" class="input-field" name="post[title]">
    </div>

    <%= render "new_post_text" %>

  <div class="category-field">
  <label for="edit-categories" class="input-label">Categories</label>
  <input type="text" class="edit-categories" name="categories">
  </div>

  <label for="new-post-location" class="input-label new-post-location">Location</label>
  <div class="new-post-location">

  <label for="latitude"></label>
  <input type="hidden" class="latitude" name="post[latitude]">
  <label for="longitude"></label>
  <input type="hidden" class="longitude" name="post[longitude]">
  <label for="location"></label>
  <input type="text" class="location input-field" name="post[location]">
    <div class="new-post-map">
    <%= gmaps("map_options" => { "detect_location" => true, 
      "auto_zoom" => false, "center_on_user" => true, 
      "zoom" => 15, :class => "google-map", "libraries" => ["places"]}) %>
    </div> 
  </div>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" id="create-post-button" class="blue-button button" value="Make new post!">
  </form>

    <div class="new-post-photos">
      <div class="input-label">Photos: drag and drop to upload!</div>
      <%= render "new_post_photos" %>
    </div>

  </div>
</div>
</section>

<script type="application/javascript">

var editor = ace.edit("code-edit");
editor.setTheme("ace/theme/tomorrow");
editor.getSession().setMode("ace/mode/javascript");
editor.setValue("");

var autocomplete;
var categories = JSON.parse($("#categories").html())

$(".clear-button").on("click", function(event){
  event.preventDefault();
  $('.new-post-body').val("");
  $('#output').html(markdown.toHTML($('#markdown-edit').val()));
  editor.setValue("");
})

$("#toggle-plaintext").on("click", function(event){
  $(".live-preview-element").removeClass("active");
  $("#code-edit").removeClass("active")
  $("#markdown-edit").addClass("active")
  $(".input-text-container").animate({width: 800}, 500 );
  $("#markdown-edit").focus()
});

$("#toggle-markdown").on("click", function(event){
  $("#code-edit").removeClass("active")
  $("#markdown-edit").addClass("active")
  $(".input-text-container").animate({width: 400}, 500, function(){
    $(".live-preview-element").addClass("active");
  });
  $("#markdown-edit").focus()
});

$("#toggle-code").on("click", function(event){
  $("#markdown-edit").removeClass("active");
  $("#code-edit").addClass("active");
  $(".live-preview-element").addClass("active");
  $(".input-text-container").animate({width: 400}, 500 );
  $(".edit-plaintext").removeClass("active");
});

$(".edit-categories").select2({tags: categories});

//Mirroring the code editor and markdown-edit text field.
$("#markdown-edit").keyup(function(){
  editor.setValue(this.value);
})

editor.getSession().on("change", function(){
  $("#markdown-edit").val(editor.getValue());
  $("#markdown-edit").trigger("change")
})

//Geocoding and Location
var geocode = function(address){
  $.get("http://maps.googleapis.com/maps/api/geocode/json",
    {address: address, sensor: "true"})
  .done(function(data){
    var lat = data["results"][0]["geometry"]["location"]["lat"]
    var lng = data["results"][0]["geometry"]["location"]["lng"]
    
    Gmaps.map.replaceMarkers([{"lat": lat, "lng": lng}]);
    autocomplete.setBounds(Gmaps.map.serviceObject.getBounds());
  })
}

$(".location.input-field").keypress(function(event){
  if(event.which === 13){
    geocode($(this).val())
  }
})

$(document).ready(function(){

  var reverseGeocode = function(latitude, longitude){
    $.get("http://maps.googleapis.com/maps/api/geocode/json",
      {latlng: latitude + "," + longitude, sensor: "true"})
    .done(function(data){
      $(".location").attr("value", data.results[0].formatted_address)
    })
  }

  Gmaps.map.setGeolocation = function(lat, lng){
    $(".latitude").attr("value", lat);
    $(".longitude").attr("value", lng);
    Gmaps.map.addMarkers([{"lat": lat, "lng": lng}]);
  }

  var setPosition = function(position){
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    // Fill in forms for submission.
    $(".latitude").attr("value", lat);
    $(".longitude").attr("value", lng);

    reverseGeocode(lat, lng);
    Gmaps.map.setGeolocation(lat, lng)
    autocomplete.setBounds(Gmaps.map.serviceObject.getBounds());
  };

  if (navigator.geolocation){
    navigator.geolocation.getCurrentPosition(setPosition);
  }
  else{
    $(".new-post-location").append("Cannot get location.")
  }

  var input = document.getElementsByClassName("location")[0];
  var options = { radius: 5000 }
  autocomplete = new google.maps.places.Autocomplete(input, options)

});
</script>

<% content_for :scripts do %>
  <script>
    google.maps.visualRefresh = true;
  </script>
<% end %>