<%= render "topbar_categories" %>
<%= render "layouts/leftnavbar" %>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "dragdrop" %>
<%= javascript_include_tag "sortable_tree" %>
<%= stylesheet_link_tag "category_tree", media: "all" %>

<section class="rightbar">
  <div class="categories-container clearfix">
    <div class="categories-text-container clearfix"> 
      <div class="categories-text-header">
        Categories 
      </div>
      <div class="categories-text">
        You can nest your categories by dragging one category into another. All posts labeled with a category are also labeled with all of the categories they are nested under.
      </div>
    </div>
    <div class="categories">
        <%= render partial: "rcat", locals: {hash: @hash, children: @root, first: true} %>
    </div>
  </div>
</section>

<script>
var tree;
var setupTree = function(){
  tree = new SortableTree('tree', {
    onDrop: function(drag, drop, event){
      var locations = drag.to_params().match(/tree\[(\d+)\]\[parent_id\]=(\d+|[nul]+)/)
      var from = locations[1]
      var new_parent_id = locations[2]
      jQuery.ajax({
        url: "/categories/" + from,
        type: 'PUT',
        data: {new_parent_id: new_parent_id}
      }).done(function(data){console.log("Success")})
    }
  });
  tree.setSortable();
}

setupTree();

var addNode = function(category){
  jQuery("#tree").append("<li id='node_" + category.id + "'> <a>" + category.name + "</a><ul></ul></li>")
}

jQuery(".create-category-button").on("click", function(event){
  event.preventDefault();
  jQuery.post("<%= categories_url %>", 
              {category: {name:jQuery(".category-input-field").val()}})
  .done(function(category){
    jQuery(".category-input-field").val("");
    addNode(category);
    setupTree();
  })
});

</script>