<section class="leftnavbar">
  
<ul>
  <li><a class="default-home" href="<%= stream_posts_url(current_user.default_stream_id) %>">Home</a></li>
  <li><a href="<%= streams_url %>">Streams</a></li>
  <li><a href="<%= posts_url %>">All Posts</a></li>
  <li><a href="<%= friendships_url %>">Friends</a></li>
  <li><a href="<%= categories_url %>">Categories</a></li>
  <li>Atlas</li>
</ul>

</section>