<!DOCTYPE html>
<html>
<head>
  <title>Lifestream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/ait8pzl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navbar" %>
<% if flash[:notice] %>
 <p class="notice"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
 <p class="alert"><%= flash[:alert] %></p>
<% end %>
  <div class="container clearfix">
    <%= yield %>
  </div>
</body>
</html>
